abrt
google-chrome
user-dirs.locale
chromium
gtk-3.0
pavucontrol.ini
vlc
dconf
lxqt
pulse
Thunar
mimeapps.list
qBittorrent
user-dirs.dirs
xfce4
lazygit
systemd/user
nvim/spell
tmux/plugins/tmux-powerline
